/Problems/
hstests/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# virtualenv
.venv
venv/

# Project config
.env